<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/build/toastr.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/build/toastr.min.js"></script>
    <title>Nodefolio</title>
</head>
<body class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border border-light rounded text-center">
                <a href="/"><h3 class="text-light">MEIZNER</h3></a>
                <a href="/"><img class="img-fluid" src="./resources/logo_placeholder.jpg" style="width: 25%;"></a>
                <ul class="nav flex-column text-light text-center">
                    <li class="nav-item border border-light rounded">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item border border-light rounded">
                        <a class="nav-link" href="./resources/CV.pdf">Experience</a>
                    </li>
                    <li class="nav-item border border-light rounded">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>